@charset "UTF-8";

.simple {
    height: 0;
    margin: 0 auto;
}

.link-left, .link-righr {
    padding-right: 200px;
}

@media screen and (min-width: 770px) {
    thead {
        height: 70px;
    }

    tr {
        border-bottom: solid 1px #dee2e6;
        height: 70px;
    }

    .date-line {
        position: relative;
        text-align: center;
    }

    .date {
        display: inline-block;
    }

    .table-size {
        width: 700px;
        margin: 0 auto;
    }
    .table-ttl, .table-item {
        font-size: 18px;
        font-weight: bold;
    }

}

@media screen and (max-width: 768px) { /*ウィンドウ幅が最大768pxまでの場合に適用*/

    thead {
        height: 50px;
    }

    tr {
        border-bottom: solid 1px #dee2e6;
        height: 50px;
    }
    .date-line {
        position: relative;
        text-align: center;
    }

    .date {
        display: inline-block;
    }

    .table-size {
        width: 500px;
        margin: 0 auto;
    }
    .table-ttl {
        font-size: 15px;
        font-weight: bold;
    }
}

@media screen and (max-width: 490px) { /*ウィンドウ幅が最大490pxまでの場合に適用*/

    thead {
        height: 50px;
    }

    tr {
        border-bottom: solid 1px #dee2e6;
        height: 50px;
    }

    .date-line {
        position: relative;
        text-align: center;
    }

    .date {
        display: inline-block;
    }

    .table-size {
        width: 380px;
        margin: 0 auto;
    }
    .table-ttl {
        font-size: 10px;
        font-weight: bold;
    }

}